@model SupportWebApp.MultipleChoiceAnswer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MultipleChoiceAnswer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question.Question1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question.Question1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Questionnaire.QuestionnaireId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Questionnaire.QuestionnaireId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MultipleChoiceAnswersId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
