@using System.Data.SqlClient
@model IEnumerable<SupportWebApp.question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Question1)*@
            @Html.ActionLink("Question", "Index", new {sortOrder = ViewBag.QuestionSortParm})
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.QuestionNo)*@
            @Html.ActionLink("Queston Number", "Index", new {SortOrder = ViewBag.NumberSortParm})
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionId })
        </td>
    </tr>
}

</table>
